header
.header 
  .container
    .row.align-items-center
      .col-2 
        .inner-logo
          a(href="/")
            img(src= "https://vietmoz.net/wp-content/uploads/2016/12/zing.png" alt="mp3")
      .col-6 
        .box-search 
          form(
            action="/search/result"
            method="GET"
          )
            div(class="form-group d-flex mb-6")
              input(
                type="text",
                placeholder="Nhập từ khóa..."
                class="form-control"
                name="keyword"
                value=keywords
              )
              button(
                type="submit",
                class="btn btn-primary"
              ) Tìm
          .inner-suggest
            .inner-list   
              
      .col-4
        .inner-menu 
          ul
            li 
              a(href="/") <i class="fa-solid fa-house"></i> Trang chủ
            li 
              a(href="/topics") <i class="fa-solid fa-music"></i> Chủ đề  
            li 
              a(href="/favorite-songs") <i class="fa-solid fa-heart"></i> Yêu thích 

